<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>ThirdEye AI</title>
   <link rel="stylesheet" href="/static/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/css/login.css" media="all"/>
    <link rel="stylesheet" href="/static/css/modules/laydate/default/laydate.css" media="all"/>
    <link rel="stylesheet" href="/static/css/modules/layer/default/layer.css" media="all"/>
    <link rel="stylesheet" href="/static/css/modules/code.css" media="all"/>
  <style type="text/css">
  .layui-layout-admin .layui-body{
   width:1300px;left:0; right:0;top:120px;margin:0 auto;
  }
  </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  {% include 'user/header.html' %}

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <fieldset class="layui-elem-field">
	  <legend>我的诊断记录</legend>

        <div class="layui-form-item">
                <label class="layui-form-label">Search</label>
                <div class="layui-input-block">
                    <form action="{% url 'searchreport' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="id" class="layui-input" style="width: 200px;float: left">
                        <input type="submit" class="layui-btn" id="submit1" style="float: left" value="搜索">
                    </form>
                </div>
              </div>

	  <div class="layui-field-box">
	    <table class="layui-hide" id="demo" lay-filter="demo"></table>
	  </div>
	  </fieldset>
  </div>


</div>
<script type="text/javascript" src="/static/js/layui.all.js"></script>
<script type="text/html" id="pic">
  <img src='/static/src/00cc2b75cddd.png' height='100%'/>
</script>
<script type="text/html" id="autopic">
  <img src='/static/src/00cc2b75cddd_division.png' height='100%' />
</script>
  <!-- 根据诊断状态显示按钮 -->
<script type="text/html" id="right">


			  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >查看报告</a>
			  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除报告</a>

		   <!--   <a class="layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled" lay-event="detail">查看报告</a> -->

		</script>
<script>
//JavaScript代码区域

  var element = layui.element;
  var table = layui.table;
  table.render({
    elem: '#demo'
    ,url:''  //获取数据的地址
    ,cols: [[
      {field:'id',title: 'ID', sort: true}
      ,{field:'pic',  title: '结节大小'}
      ,{field:'autopic', title: '风险提示'}
      ,{field:'time',  title: '提交时间'}
      ,{field:'state',  title: '诊断状态' }
      ,{field:'right', title: '诊断报告',toolbar: '#right', unresize: true} //
    ]],
    data: [
        {% for img in imgs %}
        {
      "id": "{{ img.id }}"
      ,"pic": "{{ img.dr_rate }}"
      ,"autopic": "{{ img.oc_rate }}"
      ,"time": "{{img.date}}"
      ,"state": "{{img.state}}"

    },
        {% endfor %}
]
    ,page: true
  });

  //监听工具条
  table.on('tool(demo)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('Do you really delete the line?', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'detail'){
     window.location.href='{% url 'report' %}' //跳转查看报告页面
    }
  });

</script>
</body>
</html>